<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Create Topic</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <form method="POST">
        {% csrf_token %}
        <label for="topic">Topic Name</label>
        {% if topic %}
        <input type="text" name="topic" id="topic" value="{{topic.top_name}}" />
        {% else %}
        <input type="text" name="topic" id="topic" />
        {% endif %}

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
